<div id="gitment"></div>
<!-- 主页不要加载gitment -->
<%if (!index){ %>
<script>
var gitment = new Gitment({
owner: 'chengshea',
repo: 'chengshea.github.io',
oauth: {
client_id: '3478952f5e3ade063629',
client_secret: '3ca8b3ada58c7993cbb385839f83ba81eb04231a',
 },
})
gitment.render('gitment')
</script>
<% } %>